.pagination__container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pagination {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
  
    .page-item {
      .page-link {
        padding: 5px 15px;
        background-color:var(--color-primary);
        border-radius: 5px;
        color: var(--color-white);
        text-decoration: none;
  
        &:hover,
        &:focus {
          background-color: var(--color-secondary-bg);
          color: black;
        }
  
        &.active {
          background-color: var(--color-tertiary);
          color: var(--color-white);
        }
      }
    }
  }
  