section{
    width: 100%;
}
.header {
    background-image: url('../../../assets/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    &__name{
        display: flex;
        gap: 15px;
        padding: 5px 12px;
        width: 350px;
        margin-right: 390px;
        margin-top: 100px;
        background-color: var(--color-primary-bg);
        &-name{
            color: var(--color-white);
        }
        &-stars{
            color: var(--color-tertiary-variant);
            display: flex;
            align-items: center;
        }
    }
    &__info{
        display: flex;
        margin-right: 390px;
        margin-top: 3px;
        gap: 3px;
        &-discount{
            background-color: var(--color-primary-bg);
            padding: 5px 12px;
            width: 293px;
            color: var(--color-white);
        }
        &-btn{
            background-color: var(--color-primary-bg);
            padding: 5px 12px;
            color: var(--color-white);
            &:hover {
                cursor: pointer;
                background-color: var(--color-white);
                color: black;
            }
        }
    }
    
}

.filter {
    display: flex;
    justify-content: end;
    color: var(--color-primary);
    gap: 10px;
    margin-right: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    div {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    svg{
        cursor: pointer;
    }
    :first-child {
        font-weight: 600;
    }
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

